/*
Error: Invalid CSS after "  .": expected "{", was "}"
        on line 51 of C:/Users/Igneel/WebstormProjects/TASK/src/assets/scss/pages/_home.scss
        from line 49 of C:/Users/Igneel/WebstormProjects/TASK/src/assets/scss/style.scss

46: 
47: .cover-title {
48:   @include container;
49: 
50:   .
51: }

Backtrace:
C:/Users/Igneel/WebstormProjects/TASK/src/assets/scss/pages/_home.scss:51
C:/Users/Igneel/WebstormProjects/TASK/src/assets/scss/style.scss:49
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
org/jruby/RubyArray.java:2412:in `map'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `render'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/fire-app.jar!/hook/compass_patch.rb:132:in `update_stylesheet'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/jruby/listen-1.3.1/lib/listen/listener.rb:252:in `on_change'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/jruby/listen-1.3.1/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/jruby/listen-1.3.1/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Users/Igneel/Downloads/fire.app.windows.1.14/fire.app/lib/ruby/jruby/listen-1.3.1/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
    white-space: pre;
    font-family: monospace;
    content: "Error: Invalid CSS after \"  .\": expected \"{\", was \"}\"\A         on line 51 of C:/Users/Igneel/WebstormProjects/TASK/src/assets/scss/pages/_home.scss\A         from line 49 of C:/Users/Igneel/WebstormProjects/TASK/src/assets/scss/style.scss\A \A 46: \A 47: .cover-title {\A 48:   @include container;\A 49: \A 50:   .\A 51: }";
}
